Exercice 1

In [1]:
first  = "Hello World"

In [2]:
#This is a comment.

In [3]:
print("I AM A COMPUTER !")

I AM A COMPUTER !

In [4]:
if 1 < 2 and 4 > 2 : 
    print("Math is fun")

Math is fun

In [6]:
nope = ""
nope

''

In [7]:
x = True and False
x

False

In [8]:
sentence = "What's my length?"
length = len(sentence)
length

17

In [9]:
shout = "i am shouting"
shout_upper = shout.upper()
shout_upper

'I AM SHOUTING'

In [10]:
num = "1000"
num_int = int(num)
num_int

1000

In [13]:
number = 4 
sentence2 = "real"
print(str(number) + sentence2)

4real

In [15]:
cool = 3 * "cool"
print(cool)

coolcoolcool

In [18]:
divide = 1 / 0
print(divide)

ZeroDivisionError: division by zero

In [19]:
type([])

list

In [20]:
name = input("Enter your name : ")
print(name)

sabri

In [26]:
number = float(input("Enter a number : "))

if number < 0 :
    print("That number is less than 0!")
elif number > 0 : 
    print("That number is greater than 0!")
else : 
    print("You picked 0!.")

You picked 0!.

In [28]:
fruit = "apple"

print(fruit.index('l'))

3

In [37]:
instrument = "xylophone"

if "y" in instrument : 
    print(f"there is an y in {instrument}")
else : 
    print(f"there isn't an y in {instrument}")

there is an y in xylophone

In [41]:
word = "boNjour"

if word.islower() : 
    print("The string is all in lowercase.")
else : 
    print("The string isn't all in lowercase.")

The string isn't all in lowercase.

Exercice 2

In [42]:
human_years = 10 

if human_years == 1 :
    cat_years = 15
    dog_years = 15
    liste = [human_years, cat_years, dog_years]
    print(liste)

elif human_years == 2 : 
    cat_years = 24
    dog_years = 24
    liste = [human_years, cat_years, dog_years]
    print(liste)

else : 
    cat_years = 24 + ((human_years - 2) * 4)
    dog_years = 24 + ((human_years - 2) * 5)
    liste = [human_years, cat_years, dog_years]
    print(liste)

[10, 56, 64]

In [43]:
human_years = 1 

if human_years == 1 :
    cat_years = 15
    dog_years = 15
    liste = [human_years, cat_years, dog_years]
    print(liste)

elif human_years == 2 : 
    cat_years = 24
    dog_years = 24
    liste = [human_years, cat_years, dog_years]
    print(liste)

else : 
    cat_years = 24 + ((human_years - 2) * 4)
    dog_years = 24 + ((human_years - 2) * 5)
    liste = [human_years, cat_years, dog_years]
    print(liste)

[1, 15, 15]

In [44]:
human_years = 2 

if human_years == 1 :
    cat_years = 15
    dog_years = 15
    liste = [human_years, cat_years, dog_years]
    print(liste)

elif human_years == 2 : 
    cat_years = 24
    dog_years = 24
    liste = [human_years, cat_years, dog_years]
    print(liste)

else : 
    cat_years = 24 + ((human_years - 2) * 4)
    dog_years = 24 + ((human_years - 2) * 5)
    liste = [human_years, cat_years, dog_years]
    print(liste)

[2, 24, 24]