In [1]:
print("bonjour".capitalize())

Bonjour

In [2]:
print("bonjour a tous".title())

Bonjour A Tous

In [4]:
instructor = 'Juliana'
print(instructor.find('J'))
print(instructor.find('A'))

0
-1

In [5]:
words = ["Pomme", "Poire", "Banane"]
sentence = ' '.join(words)
print(sentence)

Pomme Poire Banane

In [6]:
numbers = ['1', '2', '3', '4']
number_string = ', '.join(numbers)  
print(number_string)

1, 2, 3, 4

Exercice 1

In [13]:
text = "Python is Fun!"
print(text.upper())
print(text.title())
print(text.capitalize())
print(text.find('F'))
if "Python" in text : 
    print("Found !")
print(text.find("Fun"))

PYTHON IS FUN!
Python Is Fun!
Python is fun!
10
Found !
10

In [14]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
fruits[1] = "blueberry"
fruits

['apple', 'blueberry', 'cherry', 'date', 'elderberry']

In [15]:
numbers = [1, 2, 3]
numbers.append(10)
print(numbers)

[1, 2, 3, 10]

In [16]:
numbers = [1, 2, 3]
numbers.clear()
print(numbers)

[]

In [17]:
original_list = [2, 3, 4]
copy_list = original_list.copy()
print(copy_list)

[2, 3, 4]

In [18]:
numbers = [1, 2, 3, 4, 5, 5, 5, 5]
print(numbers.count(5))

4

In [19]:
numbers = [1, 2, 3]
numbers.extend([4, 5, 6])
print(numbers)

[1, 2, 3, 4, 5, 6]

In [20]:
numbers = [4, 8, 6, 4]
print(numbers.index(8))  # 1
print(numbers.index(4))

1
0

In [21]:
numbers = [4, 6, 8]
numbers.insert(2, 'awesome')  # insert 'awesome' at index 2
print(numbers)

[4, 6, 'awesome', 8]

In [22]:
numbers = [3, 4]
print(numbers.pop(0))  # 3
print(numbers.pop())

3
4

In [23]:
numbers = [1, 2, 3, 1]
numbers.remove(1)
print(numbers)

[2, 3, 1]

In [24]:
numbers = [1, 2, 3, 4]
numbers.reverse()
print(numbers)

[4, 3, 2, 1]

In [25]:
numbers = [4, 3, 2, 1]
numbers.sort()
print(numbers)

[1, 2, 3, 4]

In [26]:
numbers = [1, 2, 3, 4, 5, 6]

# Slice the first element
print(numbers[0:1])  # [1]

# Slice from index 1 to the end
print(numbers[1:])  # [2, 3, 4, 5, 6]

# Slice from the start to index 2
print(numbers[:3])  # [1, 2, 3]

# Get the last element
print(numbers[-1])  # 6

# Slice the last two elements
print(numbers[-2:])  # [5, 6]

# Reverse the list
print(numbers[::-1])  # [6, 5, 4, 3, 2, 1]

# Step by two elements in reverse
print(numbers[::-2])  # [6, 4, 2]

[1]
[2, 3, 4, 5, 6]
[1, 2, 3]
6
[5, 6]
[6, 5, 4, 3, 2, 1]
[6, 4, 2]

In [33]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
fruits.append("fig")
fruits.insert(0, "grape")
fruits.remove("cherry")
fruits.pop()
berries = ["blueberry", "other1", "other2"]
combined_list = fruits + berries
combined_list.sort()
print(combined_list)
print(combined_list[-3:])

['apple', 'banana', 'blueberry', 'date', 'elderberry', 'grape', 'other1', 'other2']
['grape', 'other1', 'other2']

In [34]:
fruits = ["apple", "banana", "cherry", "date"]

for fruit in fruits : 
    print(fruit)

apple
banana
cherry
date

In [35]:
for idx, char in enumerate("pomme") : 
    print(idx, char)

0 p
1 o
2 m
3 m
4 e

In [39]:
i = 0 

while i <= 5 : 
    print(i)
    i+= 1

0
1
2
3
4
5

In [ ]:
person = {
    "name" : "Sabri", 
    "age" : 23, 
    "location" : "Eaubonne"
}

In [42]:
books = {
    '1984': 'George Orwell',
    'Brave New World': 'Aldous Huxley',
    'The Great Gatsby': 'F. Scott Fitzgerald'
}

print(books["1984"])
books["The Great Gatsby"] = "Francis Scott Fitzgerald"
books["Moby Dick"] = "Herman Melville"
print(books.get("To Kill a Mockingbird"))
books.pop("Brave New World")
print(books)

George Orwell
None
{'1984': 'George Orwell', 'The Great Gatsby': 'Francis Scott Fitzgerald', 'Moby Dick': 'Herman Melville'}

In [44]:
fruits = ("pomme", "banane", "fraise", "pomme")
print(fruits[0])
print(fruits.count("pomme"))
print(fruits.index("fraise"))

pomme
2
2

In [45]:
numbers ={1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)
numbers.clear()
print(numbers)
numbers1 = {1, 5, 7, 10, 100}
prime_numbers = {2, 3, 5, 7, 11, 13}
print(numbers1.intersection(prime_numbers))

{1, 2, 3, 4, 5, 6}
set()
{5, 7}