Exercice List

In [1]:
liste = [1, 2, 3, 4]

for i in liste : 
    print(i)

1
2
3
4

In [2]:
liste = [1, 2, 3, 4]

for i in liste : 
    print(i*20)

20
40
60
80

In [2]:
liste = ["Elie", "Tim", "Matt"]

liste2 = list()

for i in liste : 
    liste2.append(i[0])

print(liste2)

['E', 'T', 'M']

In [8]:
liste = [1, 2, 3, 4, 5, 6]

liste2 = []

for i in liste : 
    if i % 2 == 0 : 
        liste2.append(i)

print(liste2)

[2, 4, 6]

In [13]:
liste1 = [1, 2, 3, 4]

liste2 = [3, 4, 5, 6]

liste3 = list(set(liste1).intersection(set(liste2)))

print(liste3)

[3, 4]

In [33]:
names1 = ["Elie", "Tim", "Matt"]


for idx, i in enumerate(names1) : 
    names1[idx] = names1[idx].lower()
    names1[idx] = names1[idx][::-1]

print(names1)

['eile', 'mit', 'ttam']

In [35]:
string1 = "first"

string2 = "third"

string_new = list(set(string1).intersection(set(string2)))

print(string_new)

['t', 'r', 'i']

In [4]:
liste1 = list()

for i in range(1, 100) : 
    if i % 12 == 0 : 
        liste1.append(i)

print(liste1)

[12, 24, 36, 48, 60, 72, 84, 96]

In [40]:
string1 = "amazing"

vowels = ["a", "e", "i", "o", "u", "y"]

liste1 = []

for i in string1 : 
    if i not in vowels : 
        liste1.append(i)

print(liste1)

['m', 'z', 'n', 'g']

In [4]:
liste = [0, 1, 2]

liste2 = list()
i = 0 

while i < 3 :
    liste2.append(liste)
    i+= 1

print(liste2)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [5]:
liste = [0, 1, 2]

liste2 = [liste for i in range(3)]

print(liste2)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [57]:
liste = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

liste2 = list()
i = 0 

while i < 10 :

        liste2.append(liste)
        i+= 1

print(liste2)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [6]:
liste = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

liste2 = [liste for i in range(10)]

print(liste2)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [7]:
liste = [[i for i in range(10)] for i in range(10)]
print(liste)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

Exercice Dictionnary

In [2]:
liste = [("name", "Elie"), ("job", "Instructor")]

dictionnary = dict(liste)
print(dictionnary)

{'name': 'Elie', 'job': 'Instructor'}

In [11]:
liste1 = ["CA", "NJ", "RI"]

liste2 = ["California", "New Jersey", "Rhode Island"]

dictionnary = dict(zip(liste1, liste2))

print(dictionnary)

{'CA': 'California', 'NJ': 'New Jersey', 'RI': 'Rhode Island'}

In [ ]:
vowels = ["a", "e", "i", "o", "u", "y"]

dictionnary = dict() {}

for i in vowels : 
    dictionnary[i] = 0

print(dictionnary)

{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0, 'y': 0}

In [8]:
alpha = ["A", "B", "C", "D", "E,", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", 
         "S", "T", "U", "V", "W", "X", "Y", "Z"]

dictionnary = dict()

for idx, i in enumerate(alpha) :
    idx2 = idx+1 
    dictionnary[idx2] = i 

print(dictionnary)

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E,', 6: 'F', 7: 'G', 8: 'H', 9: 'I', 10: 'J', 11: 'K', 12: 'L', 13: 'M', 14: 'N', 15: 'O', 16: 'P', 17: 'Q', 18: 'R', 19: 'S', 20: 'T', 21: 'U', 22: 'V', 23: 'W', 24: 'X', 25: 'Y', 26: 'Z'}