Variables

In [3]:
x = 25
x

25

In [2]:
print(x)

25

In [4]:
mot = 'bonjour'
mot

'bonjour'

In [7]:
name = input("Entrez votre nom : ")
name

'25'

In [9]:
x = 10
y = 3
z = x + y
z

13

In [10]:
x = 7
y = 15
z = x - y
z

-8

In [11]:
x = 4
y = 8
z = x * y
z

32

In [14]:
x = 18
y = 3
z = x / y
z = int(z)
z

6

In [15]:
x = 11
y = 4
z = x // y
z

2

In [17]:
x = 9
y = 4
z = x % y
z

1

In [19]:
import numpy as np 

x = 3
y = np.power(x, 3)
y

27

In [20]:
x = 2 
x = 3 
x

3

In [23]:
x = str(3)
y = " chats"
x + y

'3 chats'

In [41]:
str_num = "50"
type(str_num)

str

In [43]:
str_num = int(str_num)
type(str_num)

int

In [47]:
phrase = "Au revoir"
print(phrase[4])

e

In [48]:
print(phrase[0:5])

Au re

In [52]:
liste2 = {1:'anna', 2:'sabri', 3:"tom"}

liste = {
    "name" : "sabri",
    "age" : 45,
    "is_active": True
}

print(liste2[1])
print(liste["name"])

liste2[2] = "Momo"
print(liste2[2])

anna
sabri
Momo

Exercice 2

In [55]:
fruits = ["banane", "pomme", "poire"]
numbers = {1, 5, 6, 8, 3}
print(numbers[-1])

TypeError: 'set' object is not subscriptable

In [57]:
star_wars = ("I", "Do" "not", "know", "them")
print(star_wars[2])
info = {
    "name" : "Alice", 
    "age" : 23,
    "location" : "New York"
}

know

In [65]:
age = 3

if age >= 18 : 
    print("you're an adult")
elif age > 10 and age < 18 : 
    print("you're a teenager")
elif age > 5 and age < 10 : 
    print("you're a child ")
else : 
    print("you're a baby")

you're a baby

In [66]:
a = 0
for i in range(6) : 
    a+=i
print(a)

15

In [74]:
for i in np.arange(0,10, 0.5) :
    print(i)

0.0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5